<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/SubImg/ToolView/UINewHand/img_helper_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,928},{201,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,164}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/img_helper_finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,2},{119,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,148}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_achieve.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1034},{537,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{537,364}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_bookRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{750,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,600}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_cardMain.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1685},{420,341}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,341}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_cardScene.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,2},{571,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{571,435}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_interactPage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,857},{472,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{472,402}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_interactPage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1752},{458,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{458,285}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_introPage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1575},{346,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,424}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_introPage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,606},{469,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{469,424}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_newWord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,577},{588,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{588,347}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_note1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1157},{640,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,280}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_note2.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1801},{468,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{468,222}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_noteList.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,928},{507,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{507,249}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_selectClass.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1263},{350,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,418}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,606},{547,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{547,265}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_task1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,1181},{455,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{455,223}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_textActor.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1263},{485,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,371}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_textActor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,154},{128,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,107}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_textRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,2},{728,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{728,445}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_userInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,451},{562,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,402}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_wordDetail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,1181},{419,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{419,283}</string>
			</dict>
			<key>Image/SubImg/ToolView/UINewHand/newhand_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,286},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UINewHand.png</string>
			<key>realTextureFileName</key>
			<string>UINewHand.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>