<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/SubImg/NewWordBook/mywordreport_proc.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,364},{285,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,21}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordreport_proc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1},{306,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,43}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,175},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,238},{40,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_C.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,46},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,144},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_E.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,50},{37,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,47}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,364},{36,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_G.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,222},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_H.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,228},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,46},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_I.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,95},{26,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{627,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{627,81}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_J.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,161},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_K.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,188},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,238},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_M.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,95},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,148},{43,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,47}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_nowords.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_O.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,93},{43,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_P.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,97},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,46},{44,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_R.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,222},{41,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_report.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1},{158,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,43}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_S.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1},{38,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,47}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_sort1.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,295},{210,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,67}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_sort1_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,220},{216,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,73}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_sort2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,295},{211,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,67}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_sort2_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{217,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,73}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,128},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_T.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,46},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,138},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_V.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,142},{44,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,49}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_W.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,46},{53,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,47}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_X.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,92},{44,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_Y.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,128},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>Image/SubImg/NewWordBook/mywordV2_Z.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,188},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewWordBook.png</string>
			<key>realTextureFileName</key>
			<string>NewWordBook.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>