<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/SubImg/Reading/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,271},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_com_audio.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,534},{86,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,77}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_com_clt.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,374},{83,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,86}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_com_clted.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,130},{137,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_competitive.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,130},{149,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,126}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_control_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1},{158,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,135}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_new_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,396},{80,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_ngd_auto0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,1},{612,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{612,166}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_ngd_auto1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,319},{600,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,160}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_oral.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1},{150,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,127}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_quiz.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1},{150,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,127}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_read.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1},{150,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,127}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,130},{150,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,127}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_txt_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,851},{137,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,104}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_txt_rcd.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,268},{137,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,104}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_txt_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,259},{137,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,104}</string>
			</dict>
			<key>Image/SubImg/Reading/img_com_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,468},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>Image/SubImg/Reading/img_gear_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,817},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>Image/SubImg/Reading/img_gear_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,575},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>Image/SubImg/Reading/img_gear_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,582},{107,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,105}</string>
			</dict>
			<key>Image/SubImg/Reading/img_inter_header.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1},{625,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{625,97}</string>
			</dict>
			<key>Image/SubImg/Reading/img_inter_nbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,628},{187,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,187}</string>
			</dict>
			<key>Image/SubImg/Reading/img_ngd_topbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{782,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{782,131}</string>
			</dict>
			<key>Image/SubImg/Reading/img_oral_header.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,886},{649,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{649,106}</string>
			</dict>
			<key>Image/SubImg/Reading/img_oral_outer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1},{328,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,316}</string>
			</dict>
			<key>Image/SubImg/Reading/img_play_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,970},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,64}</string>
			</dict>
			<key>Image/SubImg/Reading/img_quiz_earth.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,258},{137,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>Image/SubImg/Reading/img_quiz_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,615},{169,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,279}</string>
			</dict>
			<key>Image/SubImg/Reading/img_rcd_nut1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,624},{92,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,72}</string>
			</dict>
			<key>Image/SubImg/Reading/img_rcd_nut2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,365},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>Image/SubImg/Reading/img_rcd_nut3.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,396},{111,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,71}</string>
			</dict>
			<key>Image/SubImg/Reading/img_rcd_nut4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,541},{114,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,72}</string>
			</dict>
			<key>Image/SubImg/Reading/img_rcd_nut5.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,668},{109,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,72}</string>
			</dict>
			<key>Image/SubImg/Reading/img_record_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,202},{40,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,67}</string>
			</dict>
			<key>Image/SubImg/Reading/img_replay_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,319},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>Image/SubImg/Reading/img_score_bright.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,817},{96,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,99}</string>
			</dict>
			<key>Image/SubImg/Reading/img_top_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,886},{750,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,123}</string>
			</dict>
			<key>Image/SubImg/Reading/score_nut.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,479},{94,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,90}</string>
			</dict>
			<key>Image/SubImg/Reading/score_nut_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,535},{87,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,84}</string>
			</dict>
			<key>Image/SubImg/Reading/word_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,1},{199,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,39}</string>
			</dict>
			<key>Image/SubImg/Reading/word_addback.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,365},{215,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,65}</string>
			</dict>
			<key>Image/SubImg/Reading/word_cn.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,130},{219,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,72}</string>
			</dict>
			<key>Image/SubImg/Reading/word_newBook.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,469},{121,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,64}</string>
			</dict>
			<key>Image/SubImg/Reading/word_notfind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,921},{530,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{530,47}</string>
			</dict>
			<key>Image/SubImg/Reading/word_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{750,265}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_book_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,628},{221,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,106}</string>
			</dict>
			<key>Image/SubImg/Reading/btn_reading_again.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,319},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Reading.png</string>
			<key>realTextureFileName</key>
			<string>Reading.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>